*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

body{
    height: 2000px;
    position: fixed;
}

.cabecalho{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
}



ul{
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
}

li{
    margin-right: 10px ;
}

a{
    color: #000000;
    text-decoration: none;
    padding-right: 30px;
    font-size: 20px;
}

.cabecalho-item-Sobremim{
    position: relative;
    left: 70px;
}

.cabecalho-item-Academico{
    position: relative;
    left: 180px;
}

.cabecalho-item-Experiencia{
    position: relative;
    left: 600px;
}

.cabecalho-item-Portifolio{
    position: relative;
    left: 700px;
}
.cabecalho-item-centro{

    position: relative;
    left: 40px;
    height: 60px;;
    
 
 }

 .boxwhite1{
    position: fixed;
    left: 20px;
    top:100px; 
    width: 700px;
    height: 500px;   
    background-color: #ffffff;
 }

 .Formatura{
    position: fixed;
    left: 800px;
    top:100px;    
    z-index: 1;   

 }

 .boxwhite2{
    position: fixed;
    left: 830px;
    top:80px;
    width: 350px;
    height: 540px;
    background-color: #ffffff;
    z-index: 0;
 }

 .Acadêmico{

    position: fixed;
    left: 80px;
    top:80px;
    font-family: "Great Vibes", cursive;
    font-weight: 200;
    font-style: normal;
    font-size: 90px;
    z-index: 2;
}

.ETEC{
    position: fixed;
    left: 40px;    
    top:250px; 
    font-family: "Open Sans", sans-serif;  
    font-style: normal;        
    font-size: 20px;
    font-weight: 200;
    z-index: 3;
}

.FMU{
    position: fixed;
    left: 40px;    
    top:400px; 
    font-family: "Open Sans", sans-serif;  
    font-style: normal;        
    font-size: 20px;
    font-weight: 200;
    z-index: 3;
}

.btn{
    position: fixed;
    left: 1270px;
    top: 545px;
    width: 60px;
    height: 50px;
    background-color: #ffffff;
    color: #000;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    z-index: 4;
}

.heart {
    width: 50px;
    height: 50px;
    position: relative;
    transform: rotate(-135deg);
    margin: 510px auto;
    left: 1275px;
}
    
    
  
  
  .square {
    width: 50px;
    height: 50px;
    position: absolute;    
    background-color: #ffffff;
  }
  
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;    
    background-color: #ffffff;
  }
  
  .top {
    top: 50%;
  }
  
  .left {
    left: 50%;
  }